@charset "UTF-8";
/* =====  1 Global Rules & Definitions  ===================================== */
/* -----  1.1 Font Definitions  --------------------------------------------- */
/* -----  1.2 Reset & Normalization  ---------------------------------------- */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Untitled Sans", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.5px; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block; }

::-moz-selection {
  background: #000000;
  color: #ffffff; }

::selection {
  background: #000000;
  color: #AA9CAB; }

/* -----  1.3 General Typography  ------------------------------------------- */
h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit; }

/* Links */
a, a:visited {
  color: #000000;
  text-decoration: none;
  transition: .2s; }

a:hover, a:focus, a:active {
  color: #AA9CAB;
  transition: .2s; }

/* =====  2 Layout Helpers & Reusable Components  =========================== */
/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

/* -----  2.1 Kirbytext  ---------------------------------------------------- */
/* -----  2.2 Button  ------------------------------------------------------- */
/* -----  2.3 Grid & Layout  ------------------------------------------------ */
/* ----- 2.5 Projects Showcase ---------------------------------------------- */
/* =====  3 Site Layout  ==================================================== */
html {
  background-color: #ffffff;
  color: #000000;
  font-family: "Untitled Sans", Helvetica, sans-serif;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  -webkit-tap-highlight-color: rgba(113, 239, 172, 0.5);
  transition: all 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95); }

.night_mode {
  background-color: #000000;
  color: #ffffff; }
  .night_mode svg {
    fill: #ffffff; }
  .night_mode #light_svg {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"; }

body {
  /* space for sticky footer */ }

/* ----- 3.1  Header  ------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0 0 80px;
  background-color: #ffffff;
  max-height: 80px;
  z-index: 20;
  overflow: hidden;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: all 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95); }
  .header.night_mode {
    background-color: #000000;
    color: #ffffff;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000; }
    .header.night_mode a {
      color: #ffffff; }
      .header.night_mode a:hover {
        color: #AA9CAB; }
      .header.night_mode a:active {
        color: #AA9CAB; }
      .header.night_mode a:focus {
        color: #AA9CAB; }

.menu_element {
  float: left;
  padding: 6.6666666667px;
  display: inline-block;
  margin-right: 40px; }
  .menu_element:first-child {
    padding-left: 0; }
  .menu_element:hover {
    cursor: pointer; }

svg {
  height: 26px;
  width: auto;
  transition: fill 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95), opacity 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95); }
  svg:hover {
    opacity: .6; }

.displaynone {
  display: none; }

.header_open {
  max-height: 500px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transition: all 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95); }
  .header_open.night_mode {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff; }

#about {
  display: inline-block;
  margin-top: 24px;
  width: 500px;
  float: left;
  clear: both;
  padding-bottom: 60px; }
  #about p {
    padding-bottom: 20px;
    max-width: 400px;
    line-height: 1.3; }

/* -----  3.2 Menu  --------------------------------------------------------- */
.menu-item {
  display: inline-block;
  margin-right: 10px; }
  .menu-item:last-child {
    margin-right: 0; }

.menu-item a {
  border-bottom: 0; }

.menu-item.is-active a {
  border-bottom: 2px solid #71efac; }

/* -----  3.3 Footer  ------------------------------------------------ */
/* -----  3.4 Main Content  ------------------------------------------------- */
.main {
  height: 100vh;
  overflow-y: hidden; }

/* =====  4 Template-specific Components ==================================== */
.project {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }

.side_scroll {
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  padding: 80px;
  width: auto;
  height: 100%; }

.project_text p {
  max-width: 400px;
  white-space: normal; }

br {
  display: none; }

.image_container {
  display: inline-block;
  height: 100%;
  font-size: 0;
  padding-right: 80px;
  transition: height 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95), width 0.7s cubic-bezier(0.4, 0.06, 0.19, 0.95); }
  .image_container figure {
    height: 100%; }
  .image_container img {
    height: 100%;
    max-width: 100%;
    width: auto; }
  .image_container figcaption {
    position: absolute;
    top: 10px;
    background-color: #ffffff; }

#measure {
  display: inline;
  background-color: red;
  position: absolute; }

.grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(300px);
  grid-template-rows: 25% 25% 25% 25%;
  grid-auto-flow: column;
  align-content: space-between;
  justify-items: center; }
  .grid .image_container {
    padding-right: 80px;
    min-width: 30vh;
    margin-right: 20px; }
    .grid .image_container:nth-of-type(4n+0) {
      padding-top: 10px; }
    .grid .image_container:nth-of-type(4n+1) {
      padding-bottom: 10px; }
    .grid .image_container:nth-of-type(4n+2) {
      padding-bottom: 10px;
      padding-top: 10px; }
    .grid .image_container:nth-of-type(4n+3) {
      padding-bottom: 10px;
      padding-top: 10px; }
    .grid .image_container figure {
      object-fit: contain;
      background: transparent; }
      .grid .image_container figure img {
        margin: 0 auto;
        min-height: 100%;
        max-height: calc(100vh - ($gridunit*8))/4;
        width: auto;
        object-fit: contain;
        display: block;
        margin: auto; }
        .grid .image_container figure img:hover {
          cursor: zoom-in; }
    .grid .image_container .lightbox {
      position: fixed;
      z-index: 2;
      margin: 0 auto;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.85); }
      .grid .image_container .lightbox.night_mode {
        background-color: rgba(0, 0, 0, 0.85); }
      .grid .image_container .lightbox img {
        max-height: calc(100vh - 80px);
        padding: 80px; }
        .grid .image_container .lightbox img:hover {
          cursor: zoom-out; }

/* -----  4.1 Homepage  ----------------------------------------------------- */
.projects-section {
  margin-top: 3rem;
  padding-top: 2.25rem;
  padding-bottom: .75rem; }

.projects-section-more {
  text-align: center; }

/*# sourceMappingURL=index.css.map */
