@charset "UTF-8";


@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSansWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UntitledSansWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/UntitledSansWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

/* =====  1 Global Rules & Definitions  ===================================== */

$font-main:  'Untitled Sans', Helvetica, sans-serif;
$primary-color: #000000;
$background-color: #ffffff;
$hover-color: #AA9CAB;
$focus-color: #000000;
$font-size: 20px;
$gridunit: 20px;



@mixin box-shadow($horiz, $vert, $blur, $spread, $color) {
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
     -moz-box-shadow: $horiz $vert $blur $spread $color;
          box-shadow: $horiz $vert $blur $spread $color;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


/* -----  1.1 Font Definitions  --------------------------------------------- */



/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: -.5px;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: $primary-color;
  color: $background-color;
}

::selection {
  background: $primary-color;
  color: $hover-color;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
}

/* Links */
a, a:visited {
  color: $primary-color;
  text-decoration: none;
  transition: .2s;
}

a:hover, a:focus, a:active {
  color: $hover-color;
  transition: .2s;
}


/* =====  2 Layout Helpers & Reusable Components  =========================== */

/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */


/* -----  2.2 Button  ------------------------------------------------------- */

/* -----  2.3 Grid & Layout  ------------------------------------------------ */


/* ----- 2.5 Projects Showcase ---------------------------------------------- */


/* =====  3 Site Layout  ==================================================== */

html {
  background-color: $background-color;
  color: $primary-color;
  font-family: $font-main;

  cursor: default;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  -webkit-tap-highlight-color: rgba(113, 239, 172, .5);
  transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
}

.night_mode{
  background-color: $primary-color;
  color: $background-color;
  // transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
  svg{
    fill:$background-color;
  }
  #light_svg{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }
  #load_more{
    border: 2px solid $background-color;
  }

  .lightbox{
    background-color: rgba(0,0,0,.85);
  }

}

body {
  /* space for sticky footer */
}

/* ----- 3.1  Header  ------------------------------------------------------- */


.header {
  position: fixed;

  top: 0;
  left: 0;
  // width: 100vw;
  padding: $gridunit 0 0 $gridunit*4;
  background-color: $background-color;
  max-height: $gridunit*4;
  z-index: 20;
  overflow: hidden;
  border-right:2px solid $background-color;
  border-bottom:2px solid $background-color;
  transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);

  &.night_mode{
    background-color: $primary-color;
    color: $background-color;
    border-right:2px solid $primary-color;
    border-bottom:2px solid $primary-color;
    a{
      color: $background-color;
      &:hover{
        color: $hover-color;
      }
      &:active{
        color: $hover-color;
      }
      &:focus{
        color: $hover-color;
      }
    }
  }
}

.menu_element{
  float: left;
  padding: $gridunit/3;
  display: inline-block;
  margin-right: $gridunit*2;
  &:first-child{
    padding-left: 0;
  }
  &:hover{
    cursor: pointer;
  }
}


  svg{
    height: 26px;
    width: auto;
    transition: fill .7s cubic-bezier(0.40, 0.06, 0.19, 0.95), opacity .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
    &:hover{
      opacity: .6;
    }
  }

  .displaynone{
    display: none;
  }

.header_open{
  max-height: 500px;
  
  border-right:2px solid $primary-color;
  border-bottom:2px solid $primary-color;
  transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
  &.night_mode{
    border-right:2px solid $background-color;
    border-bottom:2px solid $background-color;
  }

}


#about{
  display: inline-block;
  margin-top: $gridunit+4;
  width: 500px;
  float: left;
  clear: both;
  padding-bottom: $gridunit*3;

  p{
    padding-bottom: $gridunit;
    max-width: 400px;
    line-height: 1.3;
  }
}



#name{
  padding-left: 0;
}

#name_mobile{
  display: none;
  padding-left: 0;
}



.menu-item {
  display: inline-block;
  margin-right: $gridunit/2;
  &:last-child{
    margin-right: 0;
  }
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  border-bottom: 2px solid #71efac;
}

#night_mode{
  // margin-right: 0;
}

@media all and (max-width: 640px) {
  // MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE
  //small phones

  *{
    font-size: 18px;
  }

  .header{
    padding: 15px 0 0 $gridunit*2;
    max-height: $gridunit*3;
  }

  .header_open{
    overflow-y: scroll;
  }

  #grid, #night_mode{
    display: none;
  }

  .menu{
    clear: both;
    padding-left: 0;
  }
  .menu_item{
    // padding-bottom: 
  }
  #name{
    display: none;
    clear: both;
    padding-bottom: $gridunit;
  }
  #name_mobile{
    display: inline-block;
    clear: both;
    padding-bottom: $gridunit;
  }
  #grid{
    clear: both;
    padding-left: 0;
  }
  #mobile_link{
    display: inline-block;
  }
  #about{
    width: 100%;
    padding-right: $gridunit*2;
  }

  .header_open{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    border:none;
    transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
  }


}


/* -----  3.3 Footer  ------------------------------------------------ */


/* -----  3.4 Main Content  ------------------------------------------------- */

.main {
  height: 100vh;
  overflow-y: hidden;
}

/* =====  4 Template-specific Components ==================================== */

.project{
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.side_scroll{
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  padding: $gridunit*4;
  width:auto;
  // flex-wrap: nowrap ;
  height: 100%;

}

.project_text{
  p{
    max-width: 400px;
    white-space: normal;
  }
}


.image_container{

  display: inline-block;
  height:100%;
  font-size: 0;
  padding-right: $gridunit*2;
  transition: height .7s cubic-bezier(0.40, 0.06, 0.19, 0.95), width .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);

  figure{
    height: 100%;
  }

  img{
      height: 100%;
      // max-width: 100%;
      width: auto;
  }

  figcaption{
    position: absolute;
    top:10px;
    background-color: $background-color;
  }
}

// #measure{
//   display: inline;
//   background-color: red;
//   position: absolute;
// }

#load_more{
  height: 100%;
  border: 2px solid $primary-color;
  margin-right: $gridunit*4;
  vertical-align: center;
  text-align: center;
  opacity: .2;
  transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);


  span{
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:hover{
    cursor: pointer;
  }

  // &:hover{
  //   opacity: 1;
  //   transition: all .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);
  // }

  // padding-right: $gridunit*4;
}

//GRID GRID GRID GRID GRID GRID GRID GRID GRID

.grid{
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  display: grid;
  grid-gap: 0;
  // grid-template-columns: repeat( 300px);
  // grid-template-columns: minmax(max-content, 300px);
  grid-auto-columns: min-content;
  grid-template-rows: 25% 25% 25% 25%;
  grid-auto-flow: column;
  align-content: space-between;
  justify-items: center;
  // grid-auto-columns: 60px;

  #load_more{
    // margin-right: $gridunit;
    padding: 10px;
    // padding: padding-top: $gridunit/2;
  }

  .image_container{
    padding-right: $gridunit*4;
    width: 35vh;
    min-width:380px;

    margin-right: $gridunit*2;

    // height: 25%; //pivoting this on or off might do the trick, and allow for animation...
    // margin-right: $gridunit;
    // flex-grow:0;
    // display: inline-block;
    // clear: left;

    &:nth-of-type(4n+0){
      padding-top: $gridunit/2;
    }
    &:nth-of-type(4n+1){
      padding-bottom: $gridunit/2;
    }
    &:nth-of-type(4n+2){
      padding-bottom: $gridunit/2;
      padding-top: $gridunit/2;
    }
    &:nth-of-type(4n+3){
      padding-bottom: $gridunit/2;
      padding-top: $gridunit/2;
    }

    figure{
      object-fit: contain;
      // background: transparent;
      img{
        margin: 0 auto;
        min-height: 100%;
        max-height: (calc(100vh - ($gridunit*8))) / 4;
        width: auto;
        object-fit: contain;
        display:block;
        margin:auto;
        // flex: 0 1 auto;
        &:hover{
          cursor: zoom-in;
        }

      }
    }

    //LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX LIGHTBOX

    .lightbox{
      position: fixed;
      z-index: 2;
      // pointer-events: none;

      margin: 0 auto;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255,255,255,.85);
      // transition: background-color .7s cubic-bezier(0.40, 0.06, 0.19, 0.95);

      &.night_mode{
        background-color: rgba(0,0,0,.85);
      }
      img{
        max-height: calc(100vh - 80px);
        max-width: 100vw;
        padding: $gridunit*4;
        &:hover{
          cursor: zoom-out;
        }
      }
    }
  }

  // br{
  //   // display: inline-block;
  //   &:nth-child(4n+0) { 
  //    display: none;
  //   }
  // }
  //end of grid styles

}


@media all and (max-width: 640px) {
  .side_scroll{
    padding: $gridunit*3;
    &:first-child{
      padding-left: $gridunit*2;
    }
  }
}

/* -----  4.1 Homepage  ----------------------------------------------------- */

.projects-section {
  margin-top: 3rem;
  padding-top: 2.25rem;
  padding-bottom: .75rem;
}

.projects-section-more {
  text-align: center;
}


